# Локальные настройки пользователя Workbench
*.user
*.user.popt
*.user.layout

# Автоматически генерируемые базы данных ресурсов и кэш
*.rdb
/.internal/
/profile/
/logs/
/saveload/

# Временные файлы компиляции и логи
*.log
*.tmp
*.bak
*.popt

# Скомпилированные ассеты (если вы случайно экспортируете их локально)
*.bin